{% extends 'base.html' %}
{% block title %} Welcome {% endblock %} 
{% block content %}

<div class="background1">
    <div class="container-fluid background1">
        <form action="/application-form" class="form-box">
            <div class="row">
                <div class="column">
                    <h1>Welcome</h1>
                </div>
                <div class="row">
                <div class="column-xs-offset-10">
                    <p>Would you like a job?</p>
                    <input type="submit" value="Click Here">
                </div> 
            </div>      
        </div>
        </form>
    </div>
</div>
{% endblock %}
